[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnomalyScore"]
	path = AnomalyScore
	url = https://github.com/cuauhtemoctzin/anomalyscore
